h1 {
    text-align: center;
    text-decoration: underline;
    font-family: "Bebas Neue", sans-serif;
}

h2 {
    background-color: blue;
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    padding: 20px 0 20px 0;
}

p.styled {
    color: green;
    font-family: "Arimo", sans-serif;

}

.button1 {
    border-style: solid;
    border-color: orchid;
    border-width: 5px;
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

