body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: darkblue;
}

h1.periodic_table {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 1500px;
    height: 1000px;
}
ul {
    list-style-type: square;
}

table {
    text-align: center;
    border-style: solid;
    border-radius: 2px;
    border-color: black;
}

tr, td {
    border-style: solid;
    border: 1px;
    padding: 0 15px 0 15px;
}