body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.hero {
  width: 1700px;
  height: 800px;
  background-image: url("/Images/Luxury\ Mansion\ In\ Hollywood\ Wallpaper\ And\ Image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  font-size: larger;
  text-decoration: none;
  padding-top: 5px;
  cursor: pointer;
}

.nav-links a:hover {
    color: rgb(199, 102, 102);
}

.video-text-section {
  padding: 40px;
  background-color: #f5f5f5;
}

.video-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.video-wrapper iframe {
  width: 600px;
  height: 300px;
}

.text-content {
  width: 880px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.images-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.images-services img {
    width: 250px;
    height: 300px;
}
.images img {
    width: 500px;
    height: 300px;
}

.services-content {
    text-align: center;
    margin: 0 170px 0 70px
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

main {
    background-color: rgb(213, 178, 178);
}
form {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

fieldset {
  width: 200px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 55, 87);
  color: rgb(255, 255, 255);
}

input, textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
}

footer {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.name, .email {
  margin: 0;
}